@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@400;500&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 32px;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
$btn_grad: linear-gradient(
  44.11deg,
  #cd10ff 15.75%,
  #cd10ff 15.76%,
  #9f06ff 84.63%
);
$orange_grad: linear-gradient(35.71deg, #ffd7a9 9.11%, #ffae70 71.64%);
$alt-orange: linear-gradient(35.71deg, #ffd7a938 9.11%, #ffae7030 71.64%);
$slide-bg: rgba(76, 0, 112, 0.195968);
$white: #fff;
$border: #e7eaeb;
$alt-color: #cd10ff;
$main_black: #001a49;
$secondary_black: #4f596a;
$main_shadow: 0px 32px 44px #818a8c;
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background-color: $white;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: $btn_grad;
  height: 300px;
}
a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}
img {
  width: 100%;
}
h1 {
  font-size: 60px;
  letter-spacing: -1px;
  font-weight: 600;
  line-height: 68px;
  margin-bottom: 20px;
}
h2 {
  font-size: 46px;
  line-height: 56px;
}
h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
}
p {
  color: $secondary_black;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}
.logo {
  width: 150px;
}
.btn {
  padding: 10px 20px;
  color: $white !important;
  background: $btn_grad;
  border-radius: 28px;
  font-weight: 500;
}
.menu {
  display: none;
  font-size: 16px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: $btn_grad;
}
.menu i {
  color: $white;
}
main {
  padding: 0;
  overflow: hidden;
}
section {
  padding: 75px 100px;
}
@mixin centerFlex {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@mixin centerAbsolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@mixin clearInput {
  border: none;
  background: none;
  outline: none;
}
@mixin blur {
  background: rgba(226, 226, 226, 0.5);
  backdrop-filter: blur(12px);
}
